#banner {
	background-color: darkorange;
	margin-top: 0px;
	color: white;
	text-align: center;
}
#greeting {
	color: darkorange;
	font-size: 6em;
	font-style: italic;
	font-weight: bold;
	margin-top: 40px;
}
#searchRow {
	margin-top : 4em;
	border : 2px solid black;
	height : 40px;
}
.item {
	border: 2px solid black;
}
.item-image {
  border: 2px solid red;
  display: inline-block;
}
.item-body {
  border: 2px solid red;
  display: inline-block;
  vertical-align: top;
  height: 223px;
}
.item-name {
	margin-top: 0px;
}
.item-buttons {
  border: 2px solid red;
	display: inline-block;
	vertical-align: top;
	height: 223px;
	float: right;
}
.item-quantity {
	margin-top: 0px;
}